
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_objects: %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.qty }}</td>
                <td>{{ melon.price }}</td>
                <td>{{ melon.total_price }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>

    <h3>Total: {{ total_cost }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
